body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    /* border: 1px solid black; */
    background-color: rgb(236, 234, 234);
    max-width: 300px;
    text-align: center;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(16, 52, 82, 0.74);  /*To make shadow*/
}

#myH3 {
    color: rgb(60, 135, 233);
    font-size: 1.5em;
}

#userInput {
    width: 50%;
    text-align: center;
    height: 20px;
}


label {
    font-size: 1.2em;
}

#submitBTN {
    padding: 8px 15px;
    background-color: rgb(241, 44, 44);
    color: white;
    border: none;   /*to remove the border*/
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}

#submitBTN:hover {
    background-color: rgb(201, 33, 33);
}

#result {
    font-weight: bold;
    font-size: 1.3em;
}